body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.pro {
  text-decoration: underline;
}

.h3 {
  padding: 50px;
}

.top-container {
  background-image: url('./assets/images/montains_opacity.png');
  background-size: cover;
  background-position: center;
  padding: 200px;
}

.middle-container {
  white-space: nowrap;
}

.main {
  flex: 1;
}

.card {
  width: 45%;
}